{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {% if latest_albums|length > 0 %}
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-white mt-4 mb-5">Latest albums</h1>
                </div>
            </div>
            <div class="card-deck">
                {% for album in latest_albums %}
                    <div class="col-sm-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <a class="h5 card-title text-primary"
                                   href="{{ path('app_album_show', {'album': album.id}) }}">
                                    {{ album.title }}
                                </a>
                                <p class="card-text mt-2 mb-2">{{ album.gifs|length }} GIFS</p>
                                <p class="card-text">
                                    <small class="text-muted">created {{ album.createdAt|date('d/m/Y - h:m:s') }}</small>
                                </p>
                                <p class="card-text">
                                    <a href="{{ path('app_user_index', {'user': album.author.id }) }}">
                                        <small class="text-muted">
                                            author
                                            @{{ album.author.username }}
                                        </small>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if lastest_gifs|length > 0 %}
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-white mt-4 mb-5">Latest Gifs</h1>
                </div>
            </div>
            <div class="row align-items-end">
                {% for gif in lastest_gifs %}
                    <div class="col col-3 mb-5">
                        <div class="row text-right mb-2">
                            <div class="col">
                                <span class="text-white pr-2">{{ gif.favorites.count }} Favs</span>

                                <a class="btn btn-sm btn-info"
                                   href="{{ path('app_album_gif_favorite', {'gif': gif.id, 'album': gif.album.id}) }}">Fav</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="{{ gif.url }}" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% set tags = gif.tags|split(';') %}
                                {% for tag in tags %}
                                    <span class="badge badge-primary">{{ tag }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endblock body %}
